.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-image: url(https://images.unsplash.com/photo-1615591144999-0b56442e2116?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80);
}
.dialog{

}
.dialogsItems .active{
    color: white;
}
.messages{
padding: 10px 20px;
}
.message{
    color: white
}
.dialogsItems{
    padding: 10px 20px;
}